:root {
    --page-bg: steelblue;
    --gameset-bg: bisque;
    --card-bg: darkgoldenrod;
    --number-bg: dimgray;
    --number: gainsboro;
    --click-number: black;
    --click-success: green;
}
:root { /* color set variation */
    --page-bg:  #647d8b;
    --gameset-bg: #86A19E;
    --card-bg: #688aa75d;
    --number-bg: #688aa7;
    --number: #d5d5d5;
    --click-number: #222222;
    --click-success: #FBa100;
}
*:not(input) {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
    border: 0; 
}
body {
    background-color: var(--page-bg);
}
#gameset {
    width: 400px; 
    height: 200px; 
    margin: 30px auto; 
    background-color: var(--gameset-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
#card1, #card2 {
    width: 190px; 
    height: 190px; 
    border-radius: 50%;
    background-color: var(--card-bg);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    padding: 27px 18px;
}
span {
    width: 100%;
}
button {
    height: 50px;
    width: 50px;
    color: var(--number);
    text-align: center;
    text-decoration: none;
    background-color: var(--number-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
button .font__Kalem {
    /* Kalam font settings */
    font-family: 'Kalam', cursive;
    padding-top: 4px;
    font-size: 1.8rem;
    padding-top: 0.3rem;
}
button .font__Arizona {
    /* Arizonia font settings */
    font-family: 'Arizonia', cursive;
    padding-top: 0;
    font-size: 2.0rem;
    padding-top: 0.2rem;
}