:root {
    --page-bg: steelblue;
    --gameset-bg: bisque;
    --card-bg: darkgoldenrod;
    --number-bg: dimgray;
    --number: gainsboro;
    --click-number: black;
    --click-success: green;
}
:root { /* color set variation */
    --page-bg:  #647d8b;
    --gameset-bg: #86A19E;
    --card-bg: #688aa75d;
    --number-bg: #688aa7;
    --number: #d5d5d5;
    --click-number: #222222;
    --click-success: #FBa100;
}
*:not(input) {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
    border: 0; 
}
body {
    background-color: var(--page-bg);
}
#gameset {
    width: 400px; 
    height: 200px; 
    margin: auto; 
    margin-top: 30px;
    background-color: var(--gameset-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
#card1, #card2 {
    width: 190px; 
    height: 190px; 
    border-radius: 50%;
    background-color: var(--card-bg);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    padding: 27px 18px;
}
#gameset span {
    width: 100%;
}
#gameset button {
    height: 50px;
    width: 50px;
    color: var(--number);
    background-color: var(--number-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#gameset .success {
    /* background-color: var(--click-success); */
    opacity: 0.6; 
    transition: opacity 1s ease;
}

/* Kalam font settings */
.font__Kalem {
    font-family: 'Kalam', cursive;
}
#gameset .font__Kalem {
    font-size: 1.8rem;
    padding-top: 0.3rem;
}
#newgame.font__Kalem {
    font-size: 2.3rem;
}

/* Arizonia font settings */
#gameset .font__Arizona {
    font-family: 'Arizonia', cursive;
    font-size: 2.0rem;
    padding-top: 0.2rem;
}


/* New game button*/
#newgame {
    color: var(--number);
    background-color: var(--number-bg);
    border-radius: 20px;
    display: block;
    width: 280px;
    height: 54px;
    margin: auto;
    position: relative;
    z-index: 10;
}
#newgame.fadeout {
    opacity: 0; 
    transition: opacity 1s ease;
    margin-top: -1000px; 
}
#newgame.fadein {
    opacity: 1; 
    transition: opacity 1s ease;
    margin-top: -351px; 
}

/* page qr-code formatting */
#qrcode {
    background-color: var(--gameset-bg);
    border-radius: 20px;
    font-size: 10px;
    padding: 10px; 
    color: var(--page-bg);
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}
#qrcode svg {
    width: 100px;
    height: 100px;
    opacity: 1; 
    background-color: var(--gameset-bg);
    padding-bottom: 5px;
}
#qrcode rect, #qrcode path {
    fill: var(--page-bg);
}